# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  vmImage: 'windows-latest'

parameters:
  - name: buildType
    type: string

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  buildType: 'dotnet'

resources:
 repositories:
   - repository: Common_templates
     type: git
     name: Common_templates
   - repository: DiscussIt-DotNet-Framework-Project
     type: github
     endpoint: My Project
     name: jatla991/DiscussIt-DotNet-Framework-Project
     ref: master
extends:
 template: common.yml@Common_templates
 parameters:
   buildType: ${{parameters.buildType}}
   
  

# steps:


# - task: CopyFiles@2
#   inputs:
#     SourceFolder: '$(System.DefaultWorkingDirectory)'
#     Contents: '**/*.zip'
#     TargetFolder: '$(Build.ArtifactStagingDirectory)'

# - task: PublishBuildArtifacts@1
#   inputs:
#     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
#     ArtifactName: 'drop'
#     publishLocation: 'Container'